<div class="item-card">
  <img src="{{@thumbnailId}}" alt="{{@name}}" class="item-image">
  <div class="contextual-menu">
    <button type="button">Edit</button>
    <button type="button">Delete</button>
  </div>
  <div class="item-details">
    <h2>{{@name}}</h2>
    <p>{{@description}}</p>
  </div>
</div>
