<h1>Items</h1>

<div class="masonry-grid">
  {{#each this.model as |item|}}
    <div class="masonry-item">
      <ItemCard
        @thumbnailId={{item.thumbnailId}}
        @name={{item.name}}
        @description={{item.description}}
      />
    </div>
  {{/each}}
</div>
